@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
h1 {
  /* font-family: "Dancing Script", cursive; */
  overflow: hidden;
  text-align: center;
  padding: 25px 20px;
  color: aliceblue;
  margin: 0px;
}

h1:before,
h1:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}
.darkbg {
  background-color: rgba(0, 0, 0, 0.7);
}
