.landingpage {
  background: linear-gradient(150deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 5)),
    url("https://www.egis-india.com/sites/egis-india.com/files/styles/illustration/public/461999187-hires.jpg?itok=g70JDIQl");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
nav {
  background-color: black;
  height: 10vh;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.heading {
  position: relative;
  left: 50%;
  top: 50%;
  color: aliceblue;
  transform: translate(-40%, -40%);
}
.heading > h2 {
  font-size: 50px;
}
.heading > p {
  font-size: 30px;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .heading > p {
    font-size: 15px;
  }
  .buttons {
    width: 300px;
  }
}
